.item {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 15px;

  &_food {
    background-image: url("../../assets/apple.png");
    background-size: cover;
  }
  
  &_trap {
    background-color: blue;
  }

  &_star {
    border-radius: none;
    background-image: url("../../assets/star.webp");
    background-size: cover;
  }
}

